body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    text-align: left;
}

.product-container {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    max-width: 600px;
    margin-left: 50px;
}

.price {
    font-size: 18px;
    margin-bottom: 10px;
}

.countdown {
    font-size: 24px;
    margin-bottom: 20px;
}

#timer {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        color: #007bff;
        text-shadow: 0 0 10px #007bff, 0 0 20px #007bff;
    }
    100% {
        color: #0056b3;
        text-shadow: 0 0 20px #0056b3, 0 0 30px #0056b3;
    }
}

.pre-order-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.pre-order-button:hover {
    background-color: #0056b3;
}
